- const root_path = '/'
- const img_path = root_path + '/assets/img'
- const css_path = root_path + '/assets/css'
- const js_path = root_path + '/assets/js'
- const site_url = 'https://XXXX/'
- const ga_tag = true

-
  var pages = { // 各ページにvar key = ""で設定
    top : {
      url : 'index.html',
      name : 'トップページ',
      title : 'トップページ',
      description : 'トップページです',
      keywords : 'トップページ',
      image : 'assets/img/ogp.jpg'
    },
    content_a : {
      url : 'content_a.html',
      name : 'コンテントA',
      title : 'コンテントA',
      description : 'コンテントAです',
      keywords : 'コンテントA',
      image : 'assets/img/ogp.jpg'
    }
  }
