meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="format-detection", content="telephone=no")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
title XXXXXXXXXXXXXXX
meta(name="description", content="XXXXXXXXXXXXXXX")
//- meta(content=page.keywords, name=page.keywords)
meta(property="og:title", content="XXXXXXXXXXXXXXX")
meta(property="og:type", content="website")
meta(property="og:url", content="XXXXXXXXXXXXXXX")
meta(property="og:image", content="XXXXXXXXXXXXXXX")
meta(property="og:site_name", content="XXXXXXXXXXXXXXX")
meta(property="og:description", content="XXXXXXXXXXXXXXX")
meta(property='article:publisher', content="XXXXXXXXXXXXXXX")
meta(name="twitter:card", content="summary")
meta(name="twitter:site", content="XXXXXXXXXXXXXXX")
meta(name="twitter:domain", content="XXXXXXXXXXXXXXX")
meta(name="twitter:title", content='XXXXXXXXXXXXXXX')
meta(name="twitter:description", content='XXXXXXXXXXXXXXX')
meta(name="twitter:image", content="XXXXXXXXXXXXXXX")
meta(name="apple-itunes-app", content="XXXXXXXXXXXXXXX")
meta(name="google-play-app", content="XXXXXXXXXXXXXXX")
meta(name="msvalidate.01", content="XXXXXXXXXXXXXXX")
meta(name="p:domain_verify", content="XXXXXXXXXXXXXXX")
meta(property="fb:app_id", content="XXXXXXXXXXXXXXX")
link(rel="canonical", href="XXXXXXXXXXXXXXX")
link(rel="shortcut icon", href="/favicon.ico")
