@charset 'utf-8';

$textColor: #000;
$bg_gray: #f0f0f0;

$hoverOpacity: 0.7;

@import "_reset";
@import "_breakpoint";
@import "_mixin";
@import "_nav";

body {
  @include fontNotosansR;
  color: $textColor;
  font-size: 16px;
  line-height: 1.87;
}

.header {
  padding: 10px;
  background: #000;
  color: #fff;
  font-size: 120%;
  margin-bottom: 30px;
}
.footer {
  background: #000;
  color: #fff;
  font-size: 12px;
  margin: 0;
  padding: 24px 60px;
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__linkItem {
    display: inline-block;
    &:last-child {
      &:before {
        content: '/';
        padding: 0 0.25em;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
.section {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  &--gray {
    background: $bg_gray;
  }
  &--bk {
    background: #000;
    color: #fff;
  }

  &__inr {
    max-width: 920px;
    margin: 0 auto;
  }
}

.ttl {
  &__lv2 {
    text-align: center;
    @include fontDin;
    font-size: 42px;
    &--wt {
      color: #fff;
    }
  }
  &__lv3 {
    @include fontDin;
    font-size: 32px;
  }
}

.list {
  &__num {
    counter-reset: number 0;
  }
  &__numItem {
    position: relative;
    padding-left: 2em;
    & + & {
      margin-top: 1.2rem;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      counter-increment: number 1;
      content: "("counter(number)")";
      display: inline-block;
    }
  }

  &__dotItem {
    position: relative;
    padding-left: 1em;

    & + & {
      margin-top: 0.5rem;
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '・';
    }
  }
}

.notice {
  font-size: 14px;
  display: flex;

  span {
    display: inline-block;
    width: 2.5em;
  }
}

.btn {
  display: inline-flex;
  width: 100%;
  align-items: center;
  background: #fff;

  &__inr {
    display: block;
    width: 100%;
    padding: 10px 86px;
    text-align: center;
    text-decoration: none;
  }

  &__txt {
    @include fontDin;
    color: #000;
  }

  &--bk {
    background: #000;
    .btn__txt {
      color: #fff;
    }
  }
}

/*----------------
 MV
----------------*/
.mainVisual {
  position: relative;
  &__imgBox {
    width: 100%;
    height: 100vh;
    background: url(../img/img_mv.jpg);
    background-size: cover;
    background-position: center;
  }
  &__logoBox {
    position: absolute;
    left: 1vw;
    bottom: 1vh;
    width: 35%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

/*----------------
 vision
----------------*/
.vision {
  padding: 115px 0 93px 0;

  p {
    margin-top: 33px;
    text-align: center;
    font-size: 16px;
  }
}

/*----------------
 policy
----------------*/
.policy {
  background: #fff;
  background-size: cover;
  background-position: center;
  padding: 100px 0;

  .section__inr {
    background: rgba(0, 0, 0, 0.5);
    padding: 55px 0;
    color: #fff;
  }

  &__lead {
    text-align: center;
    line-height: 2.1;
  }

  &__box {
    width: 760px;
    margin: 40px auto 0;
  }
}

/*----------------
 offer
----------------*/
.offer {
  padding: 115px 0 109px;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__listItem {
    // width: 22vw;
    // height: 22vw;
    width: 14.3rem;
    height: 14.3rem;
  }

  &__listItemInr {
    width: 94%;
    height: 94%;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include fontDin;
    font-size: 23px;
    line-height: 1.21;
  }
}


/*----------------
 team
----------------*/
.team {
  padding: 95px 0 109px;

  &__box {
    display: table;
    margin: 0 auto;
    padding-top: 10px;
  }

  &__row {
    display: table-row;
  }

  &__post,
  &__name {
    display: table-cell;
    padding: 1em 0;
    @include fontNotosansB;
    font-size: 18px;
  }

  &__post {
    padding-right: 1em;
    &--sub {
      @include fontNotosansR;
      font-size: 16px;
      color: #7B7B7B;
    }
  }
  &__name {
    padding-left: 1em;
  }
}
.partners {
  padding: 95px 0 120px;

  &__list {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
  }

  &__listItem {
    width: 49%;
    background: #fff;

    .btn__inr {
      padding: 60px 0;
    }
  }
}

.info {
  padding: 81px 0 60px;

  .ttl__lv2 {
    text-align: left;
    margin-bottom: 40px;
  }
  .ttl__lv3{
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.company {
  &__boxInr {
    display: flex;
    justify-content: space-between;
  }
  &__row {
    display: flex;
    font-size: 14px;
  }
  &__infoTtl {
    @include fontNotosansB;
    width: 6em;
  }
}
.access{
  &__box {
    margin-top: 80px;
  }
}

.map {
  &__inr {
    position:relative;
    width:100%;
    height:0;
    padding-top:25%;
  }

  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    filter: grayscale(1);
  }
}
