// footer
footer.footer
  .footer-row
    .fotter-col
      ul.footer-link
        li.footer-linkItem
          a(href="/terms/") 利用規約
    .footer-col
      p.footer-copy
        small &copy; 2020 Copyright Suzu Nagano
          br.forSp
          |All Rights Reserved
// footer
