// footer
footer.footer
  .footer__row
    .fotter__col.fotter__col--link
      ul.footer__link
        li.footer__linkItem
          a(href="/policy/") Privacy Policy
        li.footer__linkItem
          a(href="/terms/") 利用規約
    .fotter__col.fotter__col--copy
      p
        small &copy; 2020 Copyright Mirai Nihon Ventures Co.,LtdAll Rights Reserved 
// /footer
