@charset "UTF-8";
/*	Reset
------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: inherit;
  font-weight: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

main, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

html {
  color: #000;
  font-size: 62.5%;
  font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-size: 1.6rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.875;
  background-color: #fff;
  word-break: break-word;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input, input[type=file], textarea, button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  border-radius: 0;
  word-break: normal;
}

select::-ms-expand {
  display: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: c ollapse;
  border-spacing: 0;
  width: 100%;
}

caption, th, td {
  text-align: left;
}

a {
  color: #333;
  text-decoration: none;
  outline: none;
}

img {
  font-size: 0;
  vertical-align: top;
}

hr {
  height: 1px;
  margin: 0;
  border: 0;
}

.cf:after {
  content: "";
  clear: both;
  display: block;
}

/*	font
------------------------------*/
/*	Utility
------------------------------*/
.dis_blo {
  display: block !important;
}

.dis_inl {
  display: inline !important;
}

.dis_inB {
  display: inline-block !important;
}

.dis_non {
  display: none !important;
}

/*-- Layout --*/
.al_l {
  text-align: left !important;
}

.al_c {
  text-align: left !important;
}

.al_r {
  text-align: left !important;
}

.va_t {
  vertical-align: top !important;
}

.va_m {
  vertical-align: middle !important;
}

.va_b {
  vertical-align: bottom !important;
}

/*-- Text --*/
.fs10 {
  font-size: 10px;
  font-size: 1rem;
}

.fs11 {
  font-size: 11px;
  font-size: 1.1rem;
}

.fs12 {
  font-size: 12px;
  font-size: 1.2rem;
}

.fs13 {
  font-size: 13px;
  font-size: 1.3rem;
}

.fs14 {
  font-size: 14px;
  font-size: 1.4rem;
}

.fs15 {
  font-size: 15px;
  font-size: 1.5rem;
}

.fs16 {
  font-size: 16px;
  font-size: 1.6rem;
}

.fs17 {
  font-size: 17px;
  font-size: 1.7rem;
}

.fs18 {
  font-size: 18px;
  font-size: 1.8rem;
}

.fs19 {
  font-size: 19px;
  font-size: 1.9rem;
}

.fs20 {
  font-size: 20px;
  font-size: 2rem;
}

.fw_n {
  font-weight: normal !important;
}

.fw_b {
  font-weight: bold !important;
}

.nowrap {
  white-space: nowrap !important;
}

.brAll {
  word-break: break-all !important;
}

/*-- Margin & Padding --*/
.mt_0 {
  margin-top: 0px;
}

.mb_0 {
  margin-bottom: 0px;
}

.pt_0 {
  padding-top: 0px;
}

.pb_0 {
  padding-bottom: 0px;
}

.mt_5 {
  margin-top: 5px;
}

.mb_5 {
  margin-bottom: 5px;
}

.pt_5 {
  padding-top: 5px;
}

.pb_5 {
  padding-bottom: 5px;
}

.mt_10 {
  margin-top: 10px;
}

.mb_10 {
  margin-bottom: 10px;
}

.pt_10 {
  padding-top: 10px;
}

.pb_10 {
  padding-bottom: 10px;
}

.mt_15 {
  margin-top: 15px;
}

.mb_15 {
  margin-bottom: 15px;
}

.pt_15 {
  padding-top: 15px;
}

.pb_15 {
  padding-bottom: 15px;
}

.mt_20 {
  margin-top: 20px;
}

.mb_20 {
  margin-bottom: 20px;
}

.pt_20 {
  padding-top: 20px;
}

.pb_20 {
  padding-bottom: 20px;
}

.mt_25 {
  margin-top: 25px;
}

.mb_25 {
  margin-bottom: 25px;
}

.pt_25 {
  padding-top: 25px;
}

.pb_25 {
  padding-bottom: 25px;
}

.mt_30 {
  margin-top: 30px;
}

.mb_30 {
  margin-bottom: 30px;
}

.pt_30 {
  padding-top: 30px;
}

.pb_30 {
  padding-bottom: 30px;
}

.mt_35 {
  margin-top: 35px;
}

.mb_35 {
  margin-bottom: 35px;
}

.pt_35 {
  padding-top: 35px;
}

.pb_35 {
  padding-bottom: 35px;
}

.mt_40 {
  margin-top: 40px;
}

.mb_40 {
  margin-bottom: 40px;
}

.pt_40 {
  padding-top: 40px;
}

.pb_40 {
  padding-bottom: 40px;
}

.mt_45 {
  margin-top: 45px;
}

.mb_45 {
  margin-bottom: 45px;
}

.pt_45 {
  padding-top: 45px;
}

.pb_45 {
  padding-bottom: 45px;
}

.mt_50 {
  margin-top: 50px;
}

.mb_50 {
  margin-bottom: 50px;
}

.pt_50 {
  padding-top: 50px;
}

.pb_50 {
  padding-bottom: 50px;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

br.pc {
  display: inline-block !important;
}

br.sp {
  display: none !important;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
  br.pc {
    display: none !important;
  }
  br.sp {
    display: inline-block !important;
  }
}

/*	header
------------------------------*/
/*	footer
------------------------------*/
