extends ../_layout.pug

block vars
  - var key = "terms"

block contents
  .main__cont
    h1.ttl__lv1.ttl__lv1--ja 利用規約
    .main__contInr
      section.txt__cont
      .txt__cont.txt__cont--date 制定年月日 2020年4月1日
